.fiche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  width: 20%;
}

.imageFiche {
  width: 100%; 
  height: 15vh;
  margin-bottom: 10px;
}

.titre {
  font-size: 16px;
  margin-bottom: 5px;
}

.note {
  font-size: 14px;
  color: #888;
}

.parentFiche {
  display: flex;
  justify-content: center;
  margin-top: 15em;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}