.bold {
  font-weight: 600;
}

.modifierProfil {
  color: #1399b8;
}

.validate-btn {
  padding: 1em;
  background-color: #1399b8;
  border: none;
  color: white;
  width: 10em;
}

.validate-btn:hover {
  box-shadow: 0px 0px 6px #8a8a8a;
  cursor: pointer;
}

.inputEditProfil {
  border: 1px solid #ccc; /* Couleur de bordure par défaut */
  padding: 1em;
  border-radius: 5px;
  transition: border-color 0.5s; /* Transition pour une animation douce */
  outline: none; /* Supprime le contour par défaut du navigateur */
}

.inputEditProfil:focus {
  border-color: #1399b8;
  border-radius: 5px;
  outline: 1px solid #1399b8;
}

/* Media queries pour les appareils mobiles */
@media screen and (max-width: 480px) {
  .profileInfo{
    margin-top: 1.2em;
  }
  .parentProfil{
    margin-top: 1em!important;
  }
  .modifierProfil {
    font-size: 1.8em;
  }
  
}

/* Media queries pour les tablettes */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .inputEditProfil {
    padding: 0.8em; /* Ajuster le rembourrage pour les tablettes */
  }
}