.bold {
  font-weight: 600;
}

.validate-btn {
  padding: 1em;
  background-color: #1399b8;
  border: none;
  color: white;
  width: 10em;
}

.validate-btn:hover {
  box-shadow: 0px 0px 6px #8a8a8a;
  cursor: pointer;
}

.inputEditProfil {
  border: 1px solid #ccc; /* Couleur de bordure par défaut */
  padding: 1em;
  border-radius: 5px;
  transition: border-color 0.5s; /* Transition pour une animation douce */
  outline: none; /* Supprime le contour par défaut du navigateur */
}

.inputEditProfil:focus {
  border-color: #1399b8;
  border-radius: 5px;
  outline: 1px solid #1399b8;
}
