.profileInfo {
  width: 25em;
  height: 35em;
  margin-top: 5.5em;
  display: flex;
  border-radius: 2%;
  flex-direction: column;
  box-shadow: 0px 0px 6px #8a8a8a;
  padding: 2em;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}

.profil {
  color:#1399b8;
}

.parentProfil {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileInfo > button {
  padding: 1em;
  background-color: #1399b8;
  border: none;
  color: white;
}

#profileInfo > button:hover {
  box-shadow: 0px 0px 10px #8a8a8a;
  cursor: pointer;
}

#profileInfo > label:nth-child(1),
#profileInfo > label:nth-child(3),
#profileInfo > label:nth-child(5),
#profileInfo > label:nth-child(7),
#profileInfo > label:nth-child(9) {
  font-weight: 600;
}

/* Media query pour les téléphones */
@media screen and (max-width: 480px) {
  #root > div > div > div.parentProfil{
    margin-top: 2em;
  }
  .profileInfo {
    width: 100%;
    height: auto;
    margin-top: 3em;
    padding: 1em
  }
}

/* Media query pour les tablettes en mode portrait */
@media screen and (max-width: 768px) {
  .profileInfo {
    width: 80%;
    height: auto;
    margin-top: 2em;
    padding: 1.5em;
  }
}

